@use "../global" as *;

.brand {
    margin: 48px 0;

    @include screen(sm) {
        margin: 40px 0;
    }

    &__list {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        @include screen(lg) {
            gap: 0;
        }

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    &__text {
        color: var(--gray-100);
        font-weight: var(--f-regular);
        margin: 0 0 32px 0;
    }
}