@use "../global" as *;

.qh-heading {
    font-weight: var(--f-semiBold);
    font-size: 28px;

    @include screen(sm) {
        font-size: 48px;
    }

    @include screen(lg) {
        font-size: 44px;
    }

    @include screen(xl) {
        font-size: 48px;
    }
}

.text-info {
    color: var(--info);
}

.qh-link {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: var(--f-semiBold);

    &-icon {
        width: 24px;
        height: 24px;
        color: var(--primary);
    }
}

.qh-btn-white {
    text-decoration: none;
    padding: 12px 24px;
    color: var(--primary);
    font-weight: var(--f-bold);
    background: var(--white);
    font-size: 16px;
    border-radius: 0;
    min-height: 50px;
    display: inline-block;
}

.w-lg-auto {
    @include screen(lg) {
        width: auto !important;
    }
}