@use "../global" as *;

.qh-navbar {
    padding: 14px 0;
    position: relative;
    z-index: 1;

    &__bg {
        background: var(--gray-500);
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 48px;
    }

    &__list {
        display: flex;
        gap: 16px;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: var(--gray-200);
                transition: all 0.3s linear;
                font-weight: var(--f-medium);

                &:hover {
                    transition: all 0.3s linear;
                    color: var(--primary);
                }
            }
        }
    }

    &__right {
        display: flex;
        gap: 16px;

        hr {
            padding: 0;
            background: #D6DDEB;
            border: 0;
            height: 48px;
            width: 2px;
            margin: 0;
            opacity: 1;
        }
    }

    &__btn {
        text-decoration: none;
        padding: 12px 24px;
        background: transparent;
        color: var(--primary);
        font-weight: var(--f-bold);
        min-height: 50px;
        display: flex;
        align-items: center;
        transition: all 0.3s linear;

        &:hover {
            transition: all 0.3s linear;
            background: var(--primary);
            color: var(--white);
        }
    }

    .qh-menu {
        background: var(--white);
        border: 1px solid #D6DDEB;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        a {
            color: var(--secondary);
        }
    }
}